<!DOCTYPE html>

<html>

<head>

  <title>Music Library</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>

<body>

  <div class="header">
    <a href="/stock/"><img src="/images/icons/stock.png" width="70" height="70"></a> 

    <a href="/stock/alerts/"><img src="/images/icons/alert.png" width="70" height="70"></a> 

    <a href="/library/"><img src="/images/icons/library.png" width="70" height="70"></a> 

    <a href="/library/edit/"><img src="/images/icons/save.png" width= "70" height="70"></a>
  </div>

  <div class="wrapper">
    <%= yield %>
  </div>

</body>

</html>