<!DOCTYPE html>

<html>

<head>

  <title>Music Library</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>

<body>

  <div id="header">
    <h3><a href="/library/">Library</a> <a href="/library/edit/">Edit Library</a></h3>
  </div>

  <div class="main">
    <%= yield %>
  </div>

</body>

</html>