<!DOCTYPE html>

<html>

<head>

  <title>Music Library</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>

<body>

  <div class="header">
    <h3><a href="/library/"><p>Library</p></a> 

    <a href="/library/edit/"><p>Edit Library</p></a></h3>
  </div>

  <div class="main">
    <%= yield %>
  </div>

</body>

</html>