<% @artists.each do |artist| %>
  <p><b>Artist:</b> <%= artist.name %></p>
  
  <p><b>Albums:</b> 
  <ul><% @albums.each do |album| %>
    <% if artist.id == album.artist_id %>
      <li><%= album.name %></li>
    <% end %></p>
  <% end %>
</ul>
  <form action="/album/new" method="post">
    <input type="text" name="name">
      <select name="artist_id" style='display:none'>
        <option value="<%= artist.id %>"><%= artist.name %></option>
      </select>
    <input type='submit' value="Add Album">
  </form>

  <hr>
<% end %>

<form action="/artist/new" method="post">
  <input type="text" name="name">
  <input type='submit' value="Add Artist">
</form>
