body {
  background-color: #232729;
  color: #FFFFFF;
}

li {
  list-style-type: none;
}

.header {
  z-index: 1;
  position: fixed;
  width: 7%;
  height: 97%;
  background-color: #403A37;
}

.header img {
  margin-left: 5%;
  margin-top: 15px;
  width: 90%;

}

.wrapper {
  position: relative;
  float: left;
  margin-left: 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
  min-height: 87.8vh;
  margin-bottom: 10px;
  font-size: 120%;
  padding-bottom: -200px;
}

.main form {
  opacity: 1;
  margin-left: 20px;
  margin-right: 10px;
  font-family: Garamond, serif;
  color: #000000;
}

.wrapper td {
  text-align: center;
}

.wrapper h1 {
  opacity: 1;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-family: Garamond, serif;
  color: #000000;
}

.artist_div {
  border-radius: 10px;
  margin-bottom: 25px;
  float:center;
  background-color: #403A37;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.album_div {
  /*background-color: blue;*/
  position:relative;
  width: 100%;
  height:200px;
  margin-bottom: 15px;
  margin-left: -5%;
}

.album_cover {
  width: 200px;
  height: 200px;
  position: relative;
  float: left;
}

.album_details {
  position: relative;
  float: right;
  width: 60%;
  height: 200px;
  /*background-color: red;*/
}

.resizedtextbox {
  width: 25px;
}

.table_div {
  border-radius: 10px;
  margin-left: 2%;
  margin-top: 2%;
  float:center;
  background-color: #403A37;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}